
echo "Loading mouse-razer_naga (~/Projects/cs2-config/autoexec/2-mouse-common.cfg)"

bind "MOUSE_X" "yaw"
bind "MOUSE_Y" "pitch"
# bind "MOUSE1" "+attack"
bind "MOUSE1" "+pew"
bind "MOUSE2" "+attack2"
bind "MOUSE3" "player_ping"
bind "MWHEELUP" "player_ping"
bind "MWHEELDOWN" "+jump"

sensitivity 1.0
sensitivity_y_scale 1.0
zoom_sensitivity_ratio 1.0
